---
import InfoCard from "../InfoCard.astro"
import Latex from "../Latex.astro"
import FormulaCard from "../FormulaCard.astro" 
---

<section id="kap-4">
  <h2>4 Modeller (s.300)</h2>
  <h3>Regresjon</h3>
  <h3>Analyse av modeller</h3>
  <h3>Veksmodeller</h3>
  <h3>Eulermetoden&hearts;</h3>
</section>