---
import Layout from '../layouts/Layout.astro';
import Chapter1 from '../components/Chapter/Chapter1.astro'
import Chapter2 from '../components/Chapter/Chapter2.astro';
import Chapter3 from '../components/Chapter/Chapter3.astro';
import Chapter4 from '../components/Chapter/Chapter4.astro';
import Chapter5 from '../components/Chapter/Chapter5.astro';
import Header from '../components/Header.astro';
---

<Layout title="R2 kompendium">
	<main id="main">
		<Header></Header>
		<Chapter1></Chapter1>
		<Chapter2></Chapter2>
		<Chapter3></Chapter3>
		<Chapter4></Chapter4>
		<Chapter5></Chapter5>
	</main>
</Layout>

<style is:global>
	#main {
		--side-padding: 1rem;
		max-width: calc(816px + var(--side-padding) * 2);
		padding-inline: var(--side-padding);
		margin: 0 auto;
	}

	h2 {
		font-size: 4rem;
		line-height: 100%;
		margin-top: 4rem;
		font-family: var(--font-heading);
		font-weight: 600;
	}
	
	h3 {
		font-size: 2rem;
		line-height: 120%;
		margin-top: 1rem;
		font-family: var(--font-heading);
		font-weight: 600;
	}

	.card > p {
		margin-top: 0;
	}

	.two-col {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
	
	@media screen and (max-width: 700px) {
		.two-col {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}
</style>