<div class="card">
  <slot />
</div>

<style>
  .card {
    width: fit-content;
    max-width: 100%;
    background-color: var(--blue-100);
    border: .25rem solid var(--blue-200);
    border-left: 1rem solid var(--blue-200);
    border-bottom-right-radius: 2rem;
    padding: 0.5rem 1.5rem;
    padding-right: 2.5rem;
    margin-bottom: 1em;
    font-size: 1.25rem;
    overflow-x: auto;
  }

  	@media screen and (max-width: 600px) {
      .card {
        font-size: 1rem;
      }
    }
</style>