<section>
  <h2>Støtt prosjektet</h2>
  <p>Vipps et valgfritt beløp til <span>(+47) 94 83 29 52</span>, Morten Andreas Myrstad</p>
</section>

<style>
  section {
    padding: 6rem 3rem;
    background-color: var(--blue-100);
    border-radius: 2rem;
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    color: #333;
    font-size: 2rem;
    font-family: var(--font-heading);
    font-weight: 500;
  }
  
  span {
    color: black;
    font-weight: 700;
  }
</style>